<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tenant-heading" jhiTranslate="propMgmntApp.tenant.home.createOrEditLabel">Create or edit a Tenant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tenant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tenant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propMgmntApp.tenant.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="tenant.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propMgmntApp.tenant.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="tenant.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propMgmntApp.tenant.uniqueIdentifier" for="field_uniqueIdentifier">Unique Identifier</label>
                    <input type="text" class="form-control" name="uniqueIdentifier" id="field_uniqueIdentifier"
                        [(ngModel)]="tenant.uniqueIdentifier" required/>
                    <div [hidden]="!(editForm.controls.uniqueIdentifier?.dirty && editForm.controls.uniqueIdentifier?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uniqueIdentifier?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propMgmntApp.tenant.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="tenant.address" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propMgmntApp.tenant.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="tenant.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === tenant.user?.id ? tenant.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
